.topbanner-container{
    background-image: url('../../images/beautiful-places-visit-Calgary-Canada-2.jpg');
    background-size: cover;
    margin-left: 5%;
    height: 537px;
    background-color: black;
    
}
.topbanner-text-start{
    padding-top: 70px;
}
.topbanner-image {
    height: 397px;
    margin-top: 112px;
    width: 707px;
}

.topbanner-gretting {
    font-size: 58px;
    font-weight: 600;
    color: #00b4ff;
}
.topbanner-sub-dis{
    font-size: 30px;
    color:rgb(0 255 255);
}